{% extends 'base.html' %}


{% block content %}

<div class="challenge-container">
    <div class="challenge-card">
        <h2>Create Your Custom Challenge</h2>
        <form method="post" class="django-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="save_challenge">
                Save Challenge
                {% load static %}
                <img src="{% static 'resources/iconmonstr-download-thin.svg' %}" alt="Save Challenge">
            </button>
        </form>
    </div>
</div>

{% endblock %}
