@font-face {
    font-family: 'Shadows';
    src: url("../fonts/ShadowsIntoLight-Regular.ttf") format('truetype');
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: radial-gradient( yellow , orange, red, brown, purple, blue);
    background-size: cover;
    font-family: 'Shadows', sans-serif;
    font-size: 30px;
}

.box-container {
    display: flex;
    justify-content: space-between;
}

.centered-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

.box {
    width: 30%;
    background: radial-gradient(coral, orange);
    padding: 20px;
    box-shadow: 25px 0px 25px rgba(0, 0, 0, 1);
    margin: 20px 50px;
    border-radius: 15px;
}

.box a {
    color: #337ab7;
    text-decoration: none;
}

.link-box {
    background-color: rgba(255, 99, 71, 0.5);
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
}

.link-box p {
    font-size: 14px;
    margin-bottom: 5px;
}

.link-box a {
    color: #333;
    text-decoration: none;
}

.challenge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 40px 40px;
    }

.challenge-container form {
    margin-right: 10px;
    }

.challenge-container button {
    background-color: pink;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 1);
    }

.challenge-card {
  width: 600px;
  margin: 20px 30px;
  padding: 20px 20px;
  box-shadow: 25px 0px 25px rgba(0, 0, 0, 1);
  border-radius: 15px;
  background: radial-gradient(orange, coral);
  display: block;
  word-wrap: break-word;
}

.reflection-card {
  width: 600px;
  margin: 20px 30px;
  padding: 20px 20px;
  box-shadow: 25px 0px 25px rgba(0, 0, 0, 1);
  background: radial-gradient(coral, purple);
  word-wrap: break-word;
  border-radius: 15px;
}

.django-form-input {
    background-color: cream;
    background-position: 10px 10px;
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    border-radius: 10px;
}

.django-form-text {
  background-color: cream;
  background-repeat: no-repeat;
  box-shadow: 15px 0px 25px rgba(0, 0, 0, 1);
  height: 150px;
  width: 450px;
  border-radius: 10px;
  padding-right: 20px;
  resize: none;
}

.navbar {
    background: radial-gradient(orange, coral);
}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.navbar-nav .nav-link {
    color: white;
}

